.background-white{background: white;}
.background-blue{background: #388CEB;}
.background-yellow{background: #FED018;}
.background-orange{background: #F9531A;color: white;}
.white{color: white;}
.title-black{
	font-size:26upx;
	letter-spacing:0upx;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.color3{
	color: #333333;
}
.color6{
	color: #666666;
}
.color9{
	color: #999999;
}
.tac{text-align: center;}
.tar{text-align: right;}
.pagePadding{padding: 26upx ;}
.blue{color: #388ceb!important;}
.yellow{color: #FED018;}
.green{color: #1aa317}
.gray{
	color:rgba(153,153,153,1);
}
.red{color: #f62626;}
.bdt{border-top: 1px solid #e7e7e7;}
.bdl{border-left: 1px solid #e7e7e7;}
.bdr{border-right: 1px solid #e7e7e7;}
.bdb{border-bottom: 1px solid #e7e7e7;}
.nobd{border: none!important;}
.mgt10{margin-top: 10upx;}
.mgt20{margin-top: 20upx;}
.mgt30{margin-top: 30upx;}
.mgt40{margin-top: 40upx;}
.mgb20{margin-bottom: 20upx;}
.mgb30{margin-bottom: 30upx;}
.mgl20{margin-left: 20upx;}
.mgl30{margin-left: 30upx;}
.mgr20{margin-right: 20upx;}
.mgr30{margin-right: 30upx;}
.mg20{margin: 20upx 20upx;}
.mg30{margin: 30upx 30upx;}
.pd20{padding: 20upx 30upx;}
.pd30{padding: 20upx 30upx;}
.pdt20{padding-top: 20upx;}
.pdb20{padding-bottom: 20upx;}
.pdr20{padding-right: 20upx;}
.pdl20{padding-left: 20upx;}
.pdt30{padding-top: 30upx;}
.pdb30{padding-bottom: 30upx;}
.pdr30{padding-right: 30upx;}
.pdl30{padding-left: 30upx;}
.yellow-cicle{
	width: 35upx;
	height: 35upx;
	line-height: 35upx;
	border: 1px solid #e78e00;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.def-circle{
	width: 30upx;
	height: 30upx;
	border: 1px solid #a7a7a7;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	
}
.yellow-cicle.blue{
	border: 1px solid #388ceb;
}
.fs20{font-size: 20upx;}
.fs22{font-size: 22upx;}
.fs24{font-size: 24upx;}
.fs26{font-size: 26upx;}
.fs28{font-size: 28upx;}
.fs30{font-size: 30upx;}
.fs32{font-size: 32upx;}
.fs34{font-size: 34upx;}
.fs36{font-size: 36upx;}
.fs38{font-size: 42upx;}
.fs40{font-size: 42upx;}
.fs42{font-size: 42upx;}
.fw300{
	font-weight: 300;
}
.fw400{
	font-weight: 400;
}
.fw500{
	font-weight: 500;
	font-family:PingFangSC;
}
.fw600{
	font-weight: 600;
	font-family:PingFangSC;
}
.title-lh{line-height: 36upx;}
.w100{width: 100%;}
.inline{display: inline;}
.originPrice{
	text-decoration: line-through;
	font-size: 26upx;
}
.flex-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-align{
	display: flex;
	align-items: center;
}
.flex-end{
	display: flex;
	align-items: flex-end;
}
.betweenBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pageBd{border-bottom: 20upx solid #f5f5f5;}
.pageBt{border-top: 20upx solid #f5f5f5;}
.zhedie{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.pageBg{
	position: absolute;
	min-height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}
.blue-btn{
	width: 600upx;
	height: 70upx;
	background-image: linear-gradient(90deg, 
		#53b1fa 0%, 
		#388ceb 100%);
	border-radius: 35upx;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 30upx;
	text-align: center;
	line-height: 70upx;
}
.white-btn{
	width: 600upx;
	height: 70upx;
	border: solid 2upx #388ceb;
	color: #388ceb;
	border-radius: 35upx;
	margin-left: auto;
	margin-right: auto;
	font-size: 30upx;
	text-align: center;
	line-height: 70upx;
}
.orange-btn{
	width: 630upx;
	height: 90upx;
	background: #FE6A72;
	border-radius: 45upx;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 36upx;
	text-align: center;
	line-height: 90upx;
}
.flex{
	display: flex;
}
.w200{
		width: 200upx;
	}
.underline{
		text-decoration: underline;

	}
.sold-out {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		left: 0;
		top: 0;
		z-index: 2;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.3);
		.out-logo {
			font-size: 40upx;
			color: white;
			width: 130upx;
			height: 130upx;
			background: #9d9d9d;
			border-radius: 50%;
			text-align: center;
			line-height: 130upx;
			letter-spacing: 10upx;
		}
}
.unstart{
	background: #388ceb!important;
	line-height: 40upx!important;
}
.colTopBottom{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bold{
	font-weight: bold;
}
.relative{
	position: relative;
}
.radius5{
	border-radius: 10upx;
}
.orange{
	color: #FE6A72;
}

// 商品排列css
.goods-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20upx;
	.list-item {
		width: 350upx;
		margin-left: 17upx;
		padding-bottom: 10upx;
		.list-img {
			position: relative;
			width: 350upx;
		}
		.list-name {
			line-height: 40upx;
			height: 80upx;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			padding: 0 10upx;
		}
		.list-price {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 10upx;
		}
	}
}
.goods-list.list-inline {
	margin: 20upx;
	.list-item {
		width: 100%;
		display: flex;
		.list-img {
			width: 200upx;
			margin-right: 20upx;
		}
		.list-name {
			line-height: 40upx;
			height: 80upx;
		}
		.list-info {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
//购物车弹窗
.car-pop {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column-reverse;
	.content {
		background: white;
		width: 750upx;
		min-height: 70%;
		position: relative;
		border-radius: 20upx 20upx 0 0;
		.close-icon {
			position: absolute;
			right: 20upx;
			top: 20upx;
		}
		.size-choose {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			.size-btn {
				background:rgba(245,245,245,1);
				border-radius:4upx;
				display: inline-block;
				text-align: center;
				padding: 10upx 20upx;
				margin: 10upx;
				color:rgba(51,51,51,1);
				&.active-btn {
					color: #FE6A72;
					background:rgba(252,78,41,0.08);
					border:1upx solid rgba(252,78,41,1);
				}
			}
		}
		.top-img {
			display: flex;
			align-items: center;
			.left {
				width: 200upx;
				margin: 20upx;
			}
		}
		.buy-btn {
			position: absolute;
			bottom: 10upx;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.buy-btn {
	width: 550upx;
	height: 70upx;
	text-align: center;
	line-height: 70upx;
	background: rgba(249, 83, 26, 1);
	border-radius: 35upx;
	font-size: 30upx;
	margin: 40upx auto;
	color: #ffffff;
}
.login-form {
		.form-item {
			height: 44upx;
			padding: 60upx 0 30upx;
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}

		.form-label {
			height: 44upx;
			line-height: 44upx;
		}

		.form-input {
			position: relative;
			width: 100%;
			input {
				height: 28upx;
				color:rgba(169,169,169,1);
				line-height:28upx;
				font-size:28upx;
				-webkit-tap-highlight-color:rgba(255,0,0,0);
			}
			.appen-solt {
				position: absolute;
				right: 0;
				top: 0;
				height: 60upx;
				overflow: hidden;
				z-index: 10;
				padding: 0 20upx;
			}
		}
	}
.primary-color {
	color: #FE6A72;
}
.primary-background {
	background: #FE6A72;
}
.primary-border {
	border: 1px solid #FE6A72;
	color: #FE6A72;
}

.gapBorder{
	border-top: 20upx solid #F7F7F7;
}


image{
	height: auto;
	will-change: transform;
}

.agreement {
		display: flex;
		align-items: center;
		margin-top: 36upx;

		image {
			display: block;
			width: 32upx;
			height: 32upx;
			margin-right: 10upx;
		}

		.txt {
			text-decoration: underline;
			color: #656565;
			font-weight: 300;
			font-size: 28upx;
		}
	}

// 弹框
.uni-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	/* #ifdef H5 */
	bottom: auto;
	/* #endif */
	left: 0;
	z-index: 999;
	display: block;
	box-sizing: border-box;
}
.uni-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}
.uni-modal .modal-box {
    position: fixed;
    z-index: 999;
    width: 70%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
	.uni-modal__hd {
	    padding: 1em 1.6em .3em;
	}
	.uni-modal__title {
	    font-weight: 400;
	    font-size: 18px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	.uni-modal__bd {
	    padding: 1.3em 1.6em 1.3em;
	    min-height: 40px;
	    font-size: 15px;
	    line-height: 1.4;
	    color: #999;
	    max-height: 400px;
	    overflow-y: auto;
	}
	.uni-modal__ft {
	    position: relative;
	    line-height: 48px;
	    font-size: 18px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: flex;
		.uni-modal__btn {
		    display: block;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1;
		    flex: 1;
		    color: #3cc51f;
		    text-decoration: none;
		    -webkit-tap-highlight-color: rgba(0,0,0,0);
		    position: relative;
		}
		.uni-modal__btn_default{
			color: #000000;
		}
		.uni-modal__btn:after {
		    content: " ";
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 1px;
		    bottom: 0;
		    border-left: 1px solid #d5d5d6;
		    color: #d5d5d6;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    -webkit-transform: scaleX(.5);
		    transform: scaleX(.5);
		}
	}
	.uni-modal__ft:after {
	    content: " ";
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    height: 1px;
	    border-top: 1px solid #d5d5d6;
	    color: #d5d5d6;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
}

.submit-btn {
	margin-top: 84upx;
	height: 88upx;
	line-height: 88upx;
	text-align: center;
	font-size: 36upx;
	font-weight: 400;
	color: #ffffff;
	background:rgba(254,106,114,1);
	box-shadow:0px 10px 25px 0px rgba(254,106,114,0.2);
	border-radius:44px;
	opacity: 0.2;
}
// 监听输入框改变状态
.btnShow{
	background: #FE6A72;
	color: #FFFFFF;
	opacity: 1 !important;
}
.btnShow:after{
	border: none;
}
button[disabled]:not([type]), button[disabled][type=default] {
    color: #FFFFFF;
    background:rgba(254,106,114,1);
    box-shadow:0px 10px 25px 0px rgba(254,106,114,0.2);
    border-radius:44px;
    opacity: 0.2;
}

.uni-ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.uni-ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.text-ellipsis{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
